SRSA_MOCKUP/CockPit/Service References/ServicePlane/PlaneInfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="OpenSerialPort">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CommPort" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenSerialPortResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OpenSerialPortResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CloseSerialPort">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Request" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CloseSerialPortResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CloseSerialPortResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlaneInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Flight" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlaneInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPlaneInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartAutomaticGetPlaneInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Request" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartAutomaticGetPlaneInfoResponse">
        <s:complexType />
      </s:element>
      <s:element name="StopAutomaticGetPlaneInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Request" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StopAutomaticGetPlaneInfoResponse">
        <s:complexType />
      </s:element>
      <s:element name="LigarStrobes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Valor" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LigarStrobesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LigarStrobesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LigarLuzesNav">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Valor" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LigarLuzesNavResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LigarLuzesNavResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LigarFarol">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Valor" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LigarFarolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LigarFarolResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddHomePoint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="LatitudeE6" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="LongitudeE6" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Altitude" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddHomePointResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddHomePointResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddWayPoint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="LatitudeE6" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="LongitudeE6" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Altitude" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddWayPointResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddWayPointResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoverWayPoint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoverWayPointResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemoverWayPointResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoverWayPoints">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Request" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoverWayPointsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemoverWayPointsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarWayPointsStringE6">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Request" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarWayPointsStringE6Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarWayPointsStringE6Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarWayPointsStringE6Sync">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Request" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarWayPointsStringE6SyncResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarWayPointsStringE6SyncResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarWayPoints">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Request" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarWayPointsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarWayPointsResult" type="tns:ArrayOfWayPoint" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfWayPoint">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WayPoint" nillable="true" type="tns:WayPoint" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WayPoint">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Altitude" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="SyncPoints">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Sync" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SyncPointsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SyncPointsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCamPic">
        <s:complexType />
      </s:element>
      <s:element name="GetCamPicResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCamPicResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IniciarCamera">
        <s:complexType />
      </s:element>
      <s:element name="IniciarCameraResponse">
        <s:complexType />
      </s:element>
      <s:element name="FinalizarCamera">
        <s:complexType />
      </s:element>
      <s:element name="FinalizarCameraResponse">
        <s:complexType />
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ArrayOfWayPoint" nillable="true" type="tns:ArrayOfWayPoint" />
      <s:element name="base64Binary" nillable="true" type="s:base64Binary" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="OpenSerialPortSoapIn">
    <wsdl:part name="parameters" element="tns:OpenSerialPort" />
  </wsdl:message>
  <wsdl:message name="OpenSerialPortSoapOut">
    <wsdl:part name="parameters" element="tns:OpenSerialPortResponse" />
  </wsdl:message>
  <wsdl:message name="CloseSerialPortSoapIn">
    <wsdl:part name="parameters" element="tns:CloseSerialPort" />
  </wsdl:message>
  <wsdl:message name="CloseSerialPortSoapOut">
    <wsdl:part name="parameters" element="tns:CloseSerialPortResponse" />
  </wsdl:message>
  <wsdl:message name="GetPlaneInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetPlaneInfo" />
  </wsdl:message>
  <wsdl:message name="GetPlaneInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetPlaneInfoResponse" />
  </wsdl:message>
  <wsdl:message name="StartAutomaticGetPlaneInfoSoapIn">
    <wsdl:part name="parameters" element="tns:StartAutomaticGetPlaneInfo" />
  </wsdl:message>
  <wsdl:message name="StartAutomaticGetPlaneInfoSoapOut">
    <wsdl:part name="parameters" element="tns:StartAutomaticGetPlaneInfoResponse" />
  </wsdl:message>
  <wsdl:message name="StopAutomaticGetPlaneInfoSoapIn">
    <wsdl:part name="parameters" element="tns:StopAutomaticGetPlaneInfo" />
  </wsdl:message>
  <wsdl:message name="StopAutomaticGetPlaneInfoSoapOut">
    <wsdl:part name="parameters" element="tns:StopAutomaticGetPlaneInfoResponse" />
  </wsdl:message>
  <wsdl:message name="LigarStrobesSoapIn">
    <wsdl:part name="parameters" element="tns:LigarStrobes" />
  </wsdl:message>
  <wsdl:message name="LigarStrobesSoapOut">
    <wsdl:part name="parameters" element="tns:LigarStrobesResponse" />
  </wsdl:message>
  <wsdl:message name="LigarLuzesNavSoapIn">
    <wsdl:part name="parameters" element="tns:LigarLuzesNav" />
  </wsdl:message>
  <wsdl:message name="LigarLuzesNavSoapOut">
    <wsdl:part name="parameters" element="tns:LigarLuzesNavResponse" />
  </wsdl:message>
  <wsdl:message name="LigarFarolSoapIn">
    <wsdl:part name="parameters" element="tns:LigarFarol" />
  </wsdl:message>
  <wsdl:message name="LigarFarolSoapOut">
    <wsdl:part name="parameters" element="tns:LigarFarolResponse" />
  </wsdl:message>
  <wsdl:message name="AddHomePointSoapIn">
    <wsdl:part name="parameters" element="tns:AddHomePoint" />
  </wsdl:message>
  <wsdl:message name="AddHomePointSoapOut">
    <wsdl:part name="parameters" element="tns:AddHomePointResponse" />
  </wsdl:message>
  <wsdl:message name="AddWayPointSoapIn">
    <wsdl:part name="parameters" element="tns:AddWayPoint" />
  </wsdl:message>
  <wsdl:message name="AddWayPointSoapOut">
    <wsdl:part name="parameters" element="tns:AddWayPointResponse" />
  </wsdl:message>
  <wsdl:message name="RemoverWayPointSoapIn">
    <wsdl:part name="parameters" element="tns:RemoverWayPoint" />
  </wsdl:message>
  <wsdl:message name="RemoverWayPointSoapOut">
    <wsdl:part name="parameters" element="tns:RemoverWayPointResponse" />
  </wsdl:message>
  <wsdl:message name="RemoverWayPointsSoapIn">
    <wsdl:part name="parameters" element="tns:RemoverWayPoints" />
  </wsdl:message>
  <wsdl:message name="RemoverWayPointsSoapOut">
    <wsdl:part name="parameters" element="tns:RemoverWayPointsResponse" />
  </wsdl:message>
  <wsdl:message name="ListarWayPointsStringE6SoapIn">
    <wsdl:part name="parameters" element="tns:ListarWayPointsStringE6" />
  </wsdl:message>
  <wsdl:message name="ListarWayPointsStringE6SoapOut">
    <wsdl:part name="parameters" element="tns:ListarWayPointsStringE6Response" />
  </wsdl:message>
  <wsdl:message name="ListarWayPointsStringE6SyncSoapIn">
    <wsdl:part name="parameters" element="tns:ListarWayPointsStringE6Sync" />
  </wsdl:message>
  <wsdl:message name="ListarWayPointsStringE6SyncSoapOut">
    <wsdl:part name="parameters" element="tns:ListarWayPointsStringE6SyncResponse" />
  </wsdl:message>
  <wsdl:message name="ListarWayPointsSoapIn">
    <wsdl:part name="parameters" element="tns:ListarWayPoints" />
  </wsdl:message>
  <wsdl:message name="ListarWayPointsSoapOut">
    <wsdl:part name="parameters" element="tns:ListarWayPointsResponse" />
  </wsdl:message>
  <wsdl:message name="SyncPointsSoapIn">
    <wsdl:part name="parameters" element="tns:SyncPoints" />
  </wsdl:message>
  <wsdl:message name="SyncPointsSoapOut">
    <wsdl:part name="parameters" element="tns:SyncPointsResponse" />
  </wsdl:message>
  <wsdl:message name="GetCamPicSoapIn">
    <wsdl:part name="parameters" element="tns:GetCamPic" />
  </wsdl:message>
  <wsdl:message name="GetCamPicSoapOut">
    <wsdl:part name="parameters" element="tns:GetCamPicResponse" />
  </wsdl:message>
  <wsdl:message name="IniciarCameraSoapIn">
    <wsdl:part name="parameters" element="tns:IniciarCamera" />
  </wsdl:message>
  <wsdl:message name="IniciarCameraSoapOut">
    <wsdl:part name="parameters" element="tns:IniciarCameraResponse" />
  </wsdl:message>
  <wsdl:message name="FinalizarCameraSoapIn">
    <wsdl:part name="parameters" element="tns:FinalizarCamera" />
  </wsdl:message>
  <wsdl:message name="FinalizarCameraSoapOut">
    <wsdl:part name="parameters" element="tns:FinalizarCameraResponse" />
  </wsdl:message>
  <wsdl:message name="OpenSerialPortHttpGetIn">
    <wsdl:part name="CommPort" type="s:string" />
  </wsdl:message>
  <wsdl:message name="OpenSerialPortHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CloseSerialPortHttpGetIn">
    <wsdl:part name="Request" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CloseSerialPortHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetPlaneInfoHttpGetIn">
    <wsdl:part name="Flight" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPlaneInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="StartAutomaticGetPlaneInfoHttpGetIn">
    <wsdl:part name="Request" type="s:string" />
  </wsdl:message>
  <wsdl:message name="StartAutomaticGetPlaneInfoHttpGetOut" />
  <wsdl:message name="StopAutomaticGetPlaneInfoHttpGetIn">
    <wsdl:part name="Request" type="s:string" />
  </wsdl:message>
  <wsdl:message name="StopAutomaticGetPlaneInfoHttpGetOut" />
  <wsdl:message name="LigarStrobesHttpGetIn">
    <wsdl:part name="Valor" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LigarStrobesHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LigarLuzesNavHttpGetIn">
    <wsdl:part name="Valor" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LigarLuzesNavHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LigarFarolHttpGetIn">
    <wsdl:part name="Valor" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LigarFarolHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddHomePointHttpGetIn">
    <wsdl:part name="Id" type="s:string" />
    <wsdl:part name="LatitudeE6" type="s:string" />
    <wsdl:part name="LongitudeE6" type="s:string" />
    <wsdl:part name="Altitude" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddHomePointHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddWayPointHttpGetIn">
    <wsdl:part name="Id" type="s:string" />
    <wsdl:part name="LatitudeE6" type="s:string" />
    <wsdl:part name="LongitudeE6" type="s:string" />
    <wsdl:part name="Altitude" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddWayPointHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RemoverWayPointHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RemoverWayPointHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RemoverWayPointsHttpGetIn">
    <wsdl:part name="Request" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RemoverWayPointsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ListarWayPointsStringE6HttpGetIn">
    <wsdl:part name="Request" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListarWayPointsStringE6HttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ListarWayPointsStringE6SyncHttpGetIn">
    <wsdl:part name="Request" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListarWayPointsStringE6SyncHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ListarWayPointsHttpGetIn">
    <wsdl:part name="Request" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListarWayPointsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfWayPoint" />
  </wsdl:message>
  <wsdl:message name="SyncPointsHttpGetIn">
    <wsdl:part name="Sync" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SyncPointsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCamPicHttpGetIn" />
  <wsdl:message name="GetCamPicHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="IniciarCameraHttpGetIn" />
  <wsdl:message name="IniciarCameraHttpGetOut" />
  <wsdl:message name="FinalizarCameraHttpGetIn" />
  <wsdl:message name="FinalizarCameraHttpGetOut" />
  <wsdl:message name="OpenSerialPortHttpPostIn">
    <wsdl:part name="CommPort" type="s:string" />
  </wsdl:message>
  <wsdl:message name="OpenSerialPortHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CloseSerialPortHttpPostIn">
    <wsdl:part name="Request" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CloseSerialPortHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetPlaneInfoHttpPostIn">
    <wsdl:part name="Flight" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPlaneInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="StartAutomaticGetPlaneInfoHttpPostIn">
    <wsdl:part name="Request" type="s:string" />
  </wsdl:message>
  <wsdl:message name="StartAutomaticGetPlaneInfoHttpPostOut" />
  <wsdl:message name="StopAutomaticGetPlaneInfoHttpPostIn">
    <wsdl:part name="Request" type="s:string" />
  </wsdl:message>
  <wsdl:message name="StopAutomaticGetPlaneInfoHttpPostOut" />
  <wsdl:message name="LigarStrobesHttpPostIn">
    <wsdl:part name="Valor" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LigarStrobesHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LigarLuzesNavHttpPostIn">
    <wsdl:part name="Valor" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LigarLuzesNavHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LigarFarolHttpPostIn">
    <wsdl:part name="Valor" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LigarFarolHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddHomePointHttpPostIn">
    <wsdl:part name="Id" type="s:string" />
    <wsdl:part name="LatitudeE6" type="s:string" />
    <wsdl:part name="LongitudeE6" type="s:string" />
    <wsdl:part name="Altitude" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddHomePointHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddWayPointHttpPostIn">
    <wsdl:part name="Id" type="s:string" />
    <wsdl:part name="LatitudeE6" type="s:string" />
    <wsdl:part name="LongitudeE6" type="s:string" />
    <wsdl:part name="Altitude" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddWayPointHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RemoverWayPointHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RemoverWayPointHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RemoverWayPointsHttpPostIn">
    <wsdl:part name="Request" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RemoverWayPointsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ListarWayPointsStringE6HttpPostIn">
    <wsdl:part name="Request" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListarWayPointsStringE6HttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ListarWayPointsStringE6SyncHttpPostIn">
    <wsdl:part name="Request" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListarWayPointsStringE6SyncHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ListarWayPointsHttpPostIn">
    <wsdl:part name="Request" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListarWayPointsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfWayPoint" />
  </wsdl:message>
  <wsdl:message name="SyncPointsHttpPostIn">
    <wsdl:part name="Sync" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SyncPointsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetCamPicHttpPostIn" />
  <wsdl:message name="GetCamPicHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="IniciarCameraHttpPostIn" />
  <wsdl:message name="IniciarCameraHttpPostOut" />
  <wsdl:message name="FinalizarCameraHttpPostIn" />
  <wsdl:message name="FinalizarCameraHttpPostOut" />
  <wsdl:portType name="PlaneInfoSoap">
    <wsdl:operation name="OpenSerialPort">
      <wsdl:input message="tns:OpenSerialPortSoapIn" />
      <wsdl:output message="tns:OpenSerialPortSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CloseSerialPort">
      <wsdl:input message="tns:CloseSerialPortSoapIn" />
      <wsdl:output message="tns:CloseSerialPortSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPlaneInfo">
      <wsdl:input message="tns:GetPlaneInfoSoapIn" />
      <wsdl:output message="tns:GetPlaneInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StartAutomaticGetPlaneInfo">
      <wsdl:input message="tns:StartAutomaticGetPlaneInfoSoapIn" />
      <wsdl:output message="tns:StartAutomaticGetPlaneInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StopAutomaticGetPlaneInfo">
      <wsdl:input message="tns:StopAutomaticGetPlaneInfoSoapIn" />
      <wsdl:output message="tns:StopAutomaticGetPlaneInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LigarStrobes">
      <wsdl:input message="tns:LigarStrobesSoapIn" />
      <wsdl:output message="tns:LigarStrobesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LigarLuzesNav">
      <wsdl:input message="tns:LigarLuzesNavSoapIn" />
      <wsdl:output message="tns:LigarLuzesNavSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LigarFarol">
      <wsdl:input message="tns:LigarFarolSoapIn" />
      <wsdl:output message="tns:LigarFarolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddHomePoint">
      <wsdl:input message="tns:AddHomePointSoapIn" />
      <wsdl:output message="tns:AddHomePointSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddWayPoint">
      <wsdl:input message="tns:AddWayPointSoapIn" />
      <wsdl:output message="tns:AddWayPointSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoverWayPoint">
      <wsdl:input message="tns:RemoverWayPointSoapIn" />
      <wsdl:output message="tns:RemoverWayPointSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoverWayPoints">
      <wsdl:input message="tns:RemoverWayPointsSoapIn" />
      <wsdl:output message="tns:RemoverWayPointsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarWayPointsStringE6">
      <wsdl:input message="tns:ListarWayPointsStringE6SoapIn" />
      <wsdl:output message="tns:ListarWayPointsStringE6SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarWayPointsStringE6Sync">
      <wsdl:input message="tns:ListarWayPointsStringE6SyncSoapIn" />
      <wsdl:output message="tns:ListarWayPointsStringE6SyncSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarWayPoints">
      <wsdl:input message="tns:ListarWayPointsSoapIn" />
      <wsdl:output message="tns:ListarWayPointsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SyncPoints">
      <wsdl:input message="tns:SyncPointsSoapIn" />
      <wsdl:output message="tns:SyncPointsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCamPic">
      <wsdl:input message="tns:GetCamPicSoapIn" />
      <wsdl:output message="tns:GetCamPicSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IniciarCamera">
      <wsdl:input message="tns:IniciarCameraSoapIn" />
      <wsdl:output message="tns:IniciarCameraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FinalizarCamera">
      <wsdl:input message="tns:FinalizarCameraSoapIn" />
      <wsdl:output message="tns:FinalizarCameraSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PlaneInfoHttpGet">
    <wsdl:operation name="OpenSerialPort">
      <wsdl:input message="tns:OpenSerialPortHttpGetIn" />
      <wsdl:output message="tns:OpenSerialPortHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CloseSerialPort">
      <wsdl:input message="tns:CloseSerialPortHttpGetIn" />
      <wsdl:output message="tns:CloseSerialPortHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPlaneInfo">
      <wsdl:input message="tns:GetPlaneInfoHttpGetIn" />
      <wsdl:output message="tns:GetPlaneInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="StartAutomaticGetPlaneInfo">
      <wsdl:input message="tns:StartAutomaticGetPlaneInfoHttpGetIn" />
      <wsdl:output message="tns:StartAutomaticGetPlaneInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="StopAutomaticGetPlaneInfo">
      <wsdl:input message="tns:StopAutomaticGetPlaneInfoHttpGetIn" />
      <wsdl:output message="tns:StopAutomaticGetPlaneInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LigarStrobes">
      <wsdl:input message="tns:LigarStrobesHttpGetIn" />
      <wsdl:output message="tns:LigarStrobesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LigarLuzesNav">
      <wsdl:input message="tns:LigarLuzesNavHttpGetIn" />
      <wsdl:output message="tns:LigarLuzesNavHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LigarFarol">
      <wsdl:input message="tns:LigarFarolHttpGetIn" />
      <wsdl:output message="tns:LigarFarolHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddHomePoint">
      <wsdl:input message="tns:AddHomePointHttpGetIn" />
      <wsdl:output message="tns:AddHomePointHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddWayPoint">
      <wsdl:input message="tns:AddWayPointHttpGetIn" />
      <wsdl:output message="tns:AddWayPointHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoverWayPoint">
      <wsdl:input message="tns:RemoverWayPointHttpGetIn" />
      <wsdl:output message="tns:RemoverWayPointHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoverWayPoints">
      <wsdl:input message="tns:RemoverWayPointsHttpGetIn" />
      <wsdl:output message="tns:RemoverWayPointsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarWayPointsStringE6">
      <wsdl:input message="tns:ListarWayPointsStringE6HttpGetIn" />
      <wsdl:output message="tns:ListarWayPointsStringE6HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarWayPointsStringE6Sync">
      <wsdl:input message="tns:ListarWayPointsStringE6SyncHttpGetIn" />
      <wsdl:output message="tns:ListarWayPointsStringE6SyncHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarWayPoints">
      <wsdl:input message="tns:ListarWayPointsHttpGetIn" />
      <wsdl:output message="tns:ListarWayPointsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SyncPoints">
      <wsdl:input message="tns:SyncPointsHttpGetIn" />
      <wsdl:output message="tns:SyncPointsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCamPic">
      <wsdl:input message="tns:GetCamPicHttpGetIn" />
      <wsdl:output message="tns:GetCamPicHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="IniciarCamera">
      <wsdl:input message="tns:IniciarCameraHttpGetIn" />
      <wsdl:output message="tns:IniciarCameraHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FinalizarCamera">
      <wsdl:input message="tns:FinalizarCameraHttpGetIn" />
      <wsdl:output message="tns:FinalizarCameraHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PlaneInfoHttpPost">
    <wsdl:operation name="OpenSerialPort">
      <wsdl:input message="tns:OpenSerialPortHttpPostIn" />
      <wsdl:output message="tns:OpenSerialPortHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CloseSerialPort">
      <wsdl:input message="tns:CloseSerialPortHttpPostIn" />
      <wsdl:output message="tns:CloseSerialPortHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPlaneInfo">
      <wsdl:input message="tns:GetPlaneInfoHttpPostIn" />
      <wsdl:output message="tns:GetPlaneInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="StartAutomaticGetPlaneInfo">
      <wsdl:input message="tns:StartAutomaticGetPlaneInfoHttpPostIn" />
      <wsdl:output message="tns:StartAutomaticGetPlaneInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="StopAutomaticGetPlaneInfo">
      <wsdl:input message="tns:StopAutomaticGetPlaneInfoHttpPostIn" />
      <wsdl:output message="tns:StopAutomaticGetPlaneInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LigarStrobes">
      <wsdl:input message="tns:LigarStrobesHttpPostIn" />
      <wsdl:output message="tns:LigarStrobesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LigarLuzesNav">
      <wsdl:input message="tns:LigarLuzesNavHttpPostIn" />
      <wsdl:output message="tns:LigarLuzesNavHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LigarFarol">
      <wsdl:input message="tns:LigarFarolHttpPostIn" />
      <wsdl:output message="tns:LigarFarolHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddHomePoint">
      <wsdl:input message="tns:AddHomePointHttpPostIn" />
      <wsdl:output message="tns:AddHomePointHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddWayPoint">
      <wsdl:input message="tns:AddWayPointHttpPostIn" />
      <wsdl:output message="tns:AddWayPointHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoverWayPoint">
      <wsdl:input message="tns:RemoverWayPointHttpPostIn" />
      <wsdl:output message="tns:RemoverWayPointHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoverWayPoints">
      <wsdl:input message="tns:RemoverWayPointsHttpPostIn" />
      <wsdl:output message="tns:RemoverWayPointsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarWayPointsStringE6">
      <wsdl:input message="tns:ListarWayPointsStringE6HttpPostIn" />
      <wsdl:output message="tns:ListarWayPointsStringE6HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarWayPointsStringE6Sync">
      <wsdl:input message="tns:ListarWayPointsStringE6SyncHttpPostIn" />
      <wsdl:output message="tns:ListarWayPointsStringE6SyncHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarWayPoints">
      <wsdl:input message="tns:ListarWayPointsHttpPostIn" />
      <wsdl:output message="tns:ListarWayPointsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SyncPoints">
      <wsdl:input message="tns:SyncPointsHttpPostIn" />
      <wsdl:output message="tns:SyncPointsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCamPic">
      <wsdl:input message="tns:GetCamPicHttpPostIn" />
      <wsdl:output message="tns:GetCamPicHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="IniciarCamera">
      <wsdl:input message="tns:IniciarCameraHttpPostIn" />
      <wsdl:output message="tns:IniciarCameraHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FinalizarCamera">
      <wsdl:input message="tns:FinalizarCameraHttpPostIn" />
      <wsdl:output message="tns:FinalizarCameraHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PlaneInfoSoap" type="tns:PlaneInfoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OpenSerialPort">
      <soap:operation soapAction="http://tempuri.org/OpenSerialPort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseSerialPort">
      <soap:operation soapAction="http://tempuri.org/CloseSerialPort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaneInfo">
      <soap:operation soapAction="http://tempuri.org/GetPlaneInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartAutomaticGetPlaneInfo">
      <soap:operation soapAction="http://tempuri.org/StartAutomaticGetPlaneInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopAutomaticGetPlaneInfo">
      <soap:operation soapAction="http://tempuri.org/StopAutomaticGetPlaneInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LigarStrobes">
      <soap:operation soapAction="http://tempuri.org/LigarStrobes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LigarLuzesNav">
      <soap:operation soapAction="http://tempuri.org/LigarLuzesNav" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LigarFarol">
      <soap:operation soapAction="http://tempuri.org/LigarFarol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddHomePoint">
      <soap:operation soapAction="http://tempuri.org/AddHomePoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWayPoint">
      <soap:operation soapAction="http://tempuri.org/AddWayPoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverWayPoint">
      <soap:operation soapAction="http://tempuri.org/RemoverWayPoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverWayPoints">
      <soap:operation soapAction="http://tempuri.org/RemoverWayPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarWayPointsStringE6">
      <soap:operation soapAction="http://tempuri.org/ListarWayPointsStringE6" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarWayPointsStringE6Sync">
      <soap:operation soapAction="http://tempuri.org/ListarWayPointsStringE6Sync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarWayPoints">
      <soap:operation soapAction="http://tempuri.org/ListarWayPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncPoints">
      <soap:operation soapAction="http://tempuri.org/SyncPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCamPic">
      <soap:operation soapAction="http://tempuri.org/GetCamPic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IniciarCamera">
      <soap:operation soapAction="http://tempuri.org/IniciarCamera" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinalizarCamera">
      <soap:operation soapAction="http://tempuri.org/FinalizarCamera" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PlaneInfoSoap12" type="tns:PlaneInfoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OpenSerialPort">
      <soap12:operation soapAction="http://tempuri.org/OpenSerialPort" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseSerialPort">
      <soap12:operation soapAction="http://tempuri.org/CloseSerialPort" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaneInfo">
      <soap12:operation soapAction="http://tempuri.org/GetPlaneInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartAutomaticGetPlaneInfo">
      <soap12:operation soapAction="http://tempuri.org/StartAutomaticGetPlaneInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopAutomaticGetPlaneInfo">
      <soap12:operation soapAction="http://tempuri.org/StopAutomaticGetPlaneInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LigarStrobes">
      <soap12:operation soapAction="http://tempuri.org/LigarStrobes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LigarLuzesNav">
      <soap12:operation soapAction="http://tempuri.org/LigarLuzesNav" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LigarFarol">
      <soap12:operation soapAction="http://tempuri.org/LigarFarol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddHomePoint">
      <soap12:operation soapAction="http://tempuri.org/AddHomePoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWayPoint">
      <soap12:operation soapAction="http://tempuri.org/AddWayPoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverWayPoint">
      <soap12:operation soapAction="http://tempuri.org/RemoverWayPoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverWayPoints">
      <soap12:operation soapAction="http://tempuri.org/RemoverWayPoints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarWayPointsStringE6">
      <soap12:operation soapAction="http://tempuri.org/ListarWayPointsStringE6" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarWayPointsStringE6Sync">
      <soap12:operation soapAction="http://tempuri.org/ListarWayPointsStringE6Sync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarWayPoints">
      <soap12:operation soapAction="http://tempuri.org/ListarWayPoints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncPoints">
      <soap12:operation soapAction="http://tempuri.org/SyncPoints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCamPic">
      <soap12:operation soapAction="http://tempuri.org/GetCamPic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IniciarCamera">
      <soap12:operation soapAction="http://tempuri.org/IniciarCamera" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinalizarCamera">
      <soap12:operation soapAction="http://tempuri.org/FinalizarCamera" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PlaneInfoHttpGet" type="tns:PlaneInfoHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="OpenSerialPort">
      <http:operation location="/OpenSerialPort" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseSerialPort">
      <http:operation location="/CloseSerialPort" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaneInfo">
      <http:operation location="/GetPlaneInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartAutomaticGetPlaneInfo">
      <http:operation location="/StartAutomaticGetPlaneInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="StopAutomaticGetPlaneInfo">
      <http:operation location="/StopAutomaticGetPlaneInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="LigarStrobes">
      <http:operation location="/LigarStrobes" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LigarLuzesNav">
      <http:operation location="/LigarLuzesNav" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LigarFarol">
      <http:operation location="/LigarFarol" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddHomePoint">
      <http:operation location="/AddHomePoint" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWayPoint">
      <http:operation location="/AddWayPoint" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverWayPoint">
      <http:operation location="/RemoverWayPoint" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverWayPoints">
      <http:operation location="/RemoverWayPoints" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarWayPointsStringE6">
      <http:operation location="/ListarWayPointsStringE6" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarWayPointsStringE6Sync">
      <http:operation location="/ListarWayPointsStringE6Sync" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarWayPoints">
      <http:operation location="/ListarWayPoints" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncPoints">
      <http:operation location="/SyncPoints" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCamPic">
      <http:operation location="/GetCamPic" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IniciarCamera">
      <http:operation location="/IniciarCamera" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="FinalizarCamera">
      <http:operation location="/FinalizarCamera" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PlaneInfoHttpPost" type="tns:PlaneInfoHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="OpenSerialPort">
      <http:operation location="/OpenSerialPort" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseSerialPort">
      <http:operation location="/CloseSerialPort" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaneInfo">
      <http:operation location="/GetPlaneInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartAutomaticGetPlaneInfo">
      <http:operation location="/StartAutomaticGetPlaneInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="StopAutomaticGetPlaneInfo">
      <http:operation location="/StopAutomaticGetPlaneInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="LigarStrobes">
      <http:operation location="/LigarStrobes" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LigarLuzesNav">
      <http:operation location="/LigarLuzesNav" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LigarFarol">
      <http:operation location="/LigarFarol" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddHomePoint">
      <http:operation location="/AddHomePoint" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddWayPoint">
      <http:operation location="/AddWayPoint" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverWayPoint">
      <http:operation location="/RemoverWayPoint" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverWayPoints">
      <http:operation location="/RemoverWayPoints" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarWayPointsStringE6">
      <http:operation location="/ListarWayPointsStringE6" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarWayPointsStringE6Sync">
      <http:operation location="/ListarWayPointsStringE6Sync" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarWayPoints">
      <http:operation location="/ListarWayPoints" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncPoints">
      <http:operation location="/SyncPoints" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCamPic">
      <http:operation location="/GetCamPic" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IniciarCamera">
      <http:operation location="/IniciarCamera" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="FinalizarCamera">
      <http:operation location="/FinalizarCamera" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PlaneInfo">
    <wsdl:port name="PlaneInfoSoap" binding="tns:PlaneInfoSoap">
      <soap:address location="http://localhost/planeInfo/PlaneInfo.asmx" />
    </wsdl:port>
    <wsdl:port name="PlaneInfoSoap12" binding="tns:PlaneInfoSoap12">
      <soap12:address location="http://localhost/planeInfo/PlaneInfo.asmx" />
    </wsdl:port>
    <wsdl:port name="PlaneInfoHttpGet" binding="tns:PlaneInfoHttpGet">
      <http:address location="http://localhost/planeInfo/PlaneInfo.asmx" />
    </wsdl:port>
    <wsdl:port name="PlaneInfoHttpPost" binding="tns:PlaneInfoHttpPost">
      <http:address location="http://localhost/planeInfo/PlaneInfo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>